/* Global resets */
* {box-sizing: border-box; margin: 0; padding: 0;}
body {font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif; color: #424242; line-height: 1.4;}

/* Fonts */
p {

  font-family: "rooney-web", 'AmericanTypewriter', Rockwell, serif;
  font-size: 20px;
  text-align: left;
}

#flex-container {
  padding-bottom: 15px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

#box-1 {
  background: #424242;
  justify-content: center;
  width: 500px;
  height: 70px;
  margin-top: 10px;

  padding-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-radius: 4px;
}

#skinnydiv{
  background-color: tomato;
  width: 400px;
  height: 15px;
}

#box-2 {
  background: white;
  border-style: solid;
  border-color: lightgray;
  border-width: medium;
  padding: 5px;
  box-shadow: 3px 3px 3px lightgray;
  width: 500px;
  height: 450px;
  margin-top: 10px;
  color: gray;

}

input{
  height: 95px;
}

.fields input {
	width: 40%;
	font-size: 17px;
  margin-top: 50px;
	padding: 10px;
	border-radius: 4px;
	border-width: 1px;
	color: #5C5C5C;
  justify-content: center;
	/* font-family: 'Montserrat', sans-serif; */
  font-size: 2.5em;
	font-weight: bold;
	/* margin-bottom: 1px; */
	-webkit-font-smoothing: antialiased;
}
.tomat{
  color: tomato;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
#donateButton{
  background-color: #1CBC2C;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 2em;
  font-weight: bold;
  color: white;
  width: 200px;
  height: 100px;
  margin-left: 50px;
  border-radius: 4px;

}

.buttonDiv {
  flex-wrap: wrap;
  display: flex;
  padding-top: 5px;
  justify-content: center;
}

.button {
	width: 25.5%;
	margin-top: 20px;
	color: gray;
	padding: 15px 0px 15px 0px;
  border: solid;
  border-radius: 4px;
  border-color: lightgray;
	border-width: medium;
  box-shadow: 5px 5px 5px lightgray;
  margin: 1px;
	font-size: 20px;
  text-align: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #424242;
  margin-left: 400px;
  margin-top: 10px;
}

.italic{
  font-style: italic;
  color: #20A1D4;
}


/* COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/
